*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
  font-size: 100%;
  padding: 2.5rem 1.5rem;
  margin: 0;
}

figure {
  padding: 0;
  margin: 0;
}

picture {
  display: inline-block;
}

main {
  margin: 150px auto 0;
  background-color: #fff;
  padding: 132px 1.5rem 3rem;
  width: 100%;
  max-width: 920px;
  position: relative;
  border-radius: 23px;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.4972);
}
@media screen and (min-width: 820px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    padding: 0;
  }
}

@media print {
  .no-print {
    display: none;
  }
}
.woman-bg {
  width: 240px;
  background: url("../images/illustration-woman-online-mobile.svg");
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  position: absolute;
  top: -108px;
  left: 50%;
  transform: translate(-50%, 0);
}
.woman-bg::before {
  content: "";
  background: url("../images/bg-pattern-mobile.svg");
  width: 240px;
  display: block;
  height: 145px;
  position: absolute;
  top: 87px;
  background-repeat: no-repeat;
  background-position: center;
}

#faqs .section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1.875rem;
}
#faqs .faq-details {
  border-bottom: 1px solid #e8e8ea;
}
#faqs .faq-details:first-of-type .faq-question {
  margin-top: 0;
}
#faqs .faq-details .faq-summary {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  color: #4b4c5f;
}
#faqs .faq-details .faq-summary:hover {
  color: #f47b56;
}
#faqs .faq-details .faq-summary img {
  transition: all 0.2s ease-in-out;
}
#faqs .faq-details .faq-question {
  margin: 1.125rem 0 0.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
  user-select: none;
}
#faqs .faq-details[open=""] .faq-question {
  font-weight: 700;
}
#faqs .faq-details[open=""] .faq-summary img {
  transform: rotate(180deg);
}
#faqs .faq-answer {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #787887;
}
#faqs .faq-answer p,
#faqs .faq-answer ol {
  margin: 0.75rem 0 1rem;
}
@media screen and (min-width: 820px) {
  #faqs {
    flex: 1 0 50%;
    padding: 4rem 5.9rem 5.2rem 1rem;
  }
  #faqs .section-title {
    text-align: left;
  }
  #faqs .faq-details .faq-question {
    font-size: 0.875rem;
  }
}

#illustration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#illustration img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.3s ease-in-out;
}
#illustration img.woman-pic {
  top: -108px;
}
@media screen and (min-width: 820px) {
  #illustration {
    position: relative;
    flex: 1 0 50%;
    left: -84px;
  }
  #illustration img {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  #illustration img.woman-pic {
    top: 50%;
  }
  #illustration img.bg-pattern {
    left: initial;
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
