#illustration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &:active .woman-pic {
    transform: translate(-50%, 10px);
  }

  &:active .bg-pattern {
    transform: translate(-50%, -10px);
  }

  @media screen and (min-width: $desktop-width) {
    &:active .woman-pic,
    &:active .bg-pattern {
      transform: none;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.15s ease-in-out;

    &.woman-pic {
      top: -108px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    position: relative;

    &::before {
      content: "";
      background-image: url("../images/illustration-box-desktop.svg");
      background-size: 191px 184px;
      position: absolute;
      top: 204px;
      left: -93px;
      width: 191px;
      height: 184px;
      z-index: 99999;
      background-repeat: no-repeat;
    }

    & > .wrapper {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
    }

    img {
      transform: none;

      &.woman-pic {
        top: 71px;
        left: -84px;
      }

      &.bg-pattern {
        left: initial;
        right: 0;
        top: -294px;
      }
    }
  }
}
