main {
  margin: 150px auto 0;
  background-color: #fff;
  padding: 132px 1.5rem 3rem;
  width: 100%;
  max-width: 920px;
  position: relative;
  border-radius: 23px;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.4972);

  @media screen and (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 388px 445px;
    justify-content: space-between;
    padding: 0;
  }
}
